.timerContainer {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setTimeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

.presets {
    display: flex;
    flex-direction: column;
}

.button {
    width: 40px;
    height: 40px;
    margin: 12px 0 12px;
    /*border: 5px;*/
}

.table {
    width: 30px;
}

.buttons {
display: flex;
    justify-content: space-between;
}

.table {
    width: 30px!important;
}

.td {
    display: flex;
    justify-content: center;
}

.sound {
    display: flex;
    justify-content: space-between;
}