.cardList {
    white-space: nowrap;
    overflow-y: scroll;
    max-width: 100vw;
}

.cardList > ul > li {
    margin: 5px;
    display: inline-block;
    overflow-y: scroll;
}

.newCardButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 10% 10% 10% 10%;
    font-size: 150px;
}
