.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    position: absolute;
}

.timerHidden {
    position: absolute;
    display: none;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
}
